<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>CSV Processor</title>
    <script type="module" src="/static/js/ui/app.js" defer></script>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <h2>CSV Processor Dashboard</h2>

    <!-- Upload -->
    <input type="file" id="fileInput">
    <button id="uploadBtn">Upload</button>

    <hr>

    <!-- Tasks -->
    <table>
        <thead>
            <tr>
                <th>File ID</th>
                <th>Status</th>
                <th>Attempts</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="tasksTable"></tbody>
    </table>

    <!-- Pagination -->
    <div id="pagination"></div>

    <div id="statsBox" class="stats-box">
        <h3>Tasks Stats</h3>

        <div>Total: <span id="stats-total">0</span></div>
        <div>Done: <span id="stats-done">0</span></div>
        <div>Failed: <span id="stats-failed">0</span></div>
        <div>Processing: <span id="stats-processing">0</span></div>
    </div>
</body>

</html>